<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index</title>
  <link rel="stylesheet" href="../../public/static/styles/index.css?37ade3196e">
</head>
<body>
  <span id="liseen">sdfsfdsdfsdf</span>
  <div id="placeholder" style="width:600px;height:300px"></div>
  <script src="../../public/static/scripts/vendors.js"></script>
  <!-- <script src="../../public/static/scripts/jquery.flot.min.js"></script> -->
  <script src="../../public/static/scripts/index.js?99b7980917"></script>
</body>
</html>